<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="login.css">
</head>
<body>    
    <nav>
        <div id="log">

        </div>
        <ul>
            <li>Home</li>
        </ul>
    </nav>
    <div class="login">    
    <form id="login">
             <label class="label_1">ALX_ZONE</label>
        <div id="main">
            <label class="label_2"><b>User Name</b></label>
            <br>
            <input class="input_2" type="text" name="Uname" id="Uname" placeholder="Username">    
            <br>
            <label class="label_2"><b>Password</b></label>
            <br>
            <input class="input_2" type="Password" name="Pass" id="Pass" placeholder="Password">    
            <br><br>
            <div class="label_2">
                <input type="checkbox" id="check">    
                <label >Remember me </label>
            </div>
            <br><br>
            <button id="log">log in</button>      
            <br><br>    
            <a id="link_1" href="#">ForgotPassword?</a>   
        </div>  
    </form>     
</div>    
</body> 
<footer>
    <button>About</button>
</footer> 
</html>