body  
{  
    margin: 0;  
    padding: 0;  
    background-color:white;  
    font-family: 'Arial';  
} 
nav {
    background-color: #F8F9FA;
    width: 100%;
    display: flex;
    
}
ul {
    text-decoration: none;
    list-style: none;
    margin: auto;
}
form {
margin:auto;
margin-top:3%;
width: 578px;
height: 739px;

background: #F8F9FA;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 15px;
}
/* #main{
max-widt;
margin: auto;
} */
.input_2{
box-sizing: border-box;
width: 440px;
height: 34px;

background: #F8F9FA;
border: 1px solid #CCCCCC;
border-radius: 5px;
}
#log {
    box-sizing: border-box;

    width: 155px;
    height: 58px;
    
    background: #DB3E3E;
    border: 1px solid #DB3E3E;
    border-radius: 4px;
    
}
.label_2
{
width: 74px;
height: 46px;
margin-left: auto;
font-family: 'Jost';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 46px;
text-align: center;
color: #0B0000;
opacity: 0.8;
}
footer {
    margin: auto;
}