<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="post.css">
</head>
<body>    

            
    <form id="login">
        <h1 id="label_1">New post </h1>
        <div id="main">
            <label class="label_2"><b>Title</b></label>
            <br>
            <input class="input_2" type="Password" name="Pass" id="Pass" placeholder="Password">
            <br>
            <label class="label_2">content</label>
            <textarea name="" class="post" cols="30" rows="10"></textarea> 
            <br><br>
            <button id="post_but">Post</button>      
            <br><br>     
        </div>  
    </form>     
</div>    
</body> 

</html>