* {
    box-sizing: border-box;
    margin: 0;
}
body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
.naviagation{
    display: flex;
    justify-content: flex-end;
    background-color: #F55A5A;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;    
}
ul{
    margin-right: 30px;
    padding: 20px;
    display: flex;
    flex-direction: row;
}
li{
    list-style: none;
    margin-left: 12px;
    font-size: 18px;
    cursor: pointer;
    color: white;
}
main{
    margin-left: 70px;
    margin-top: 50px;
}
.post{
    cursor: pointer;
    max-width: 80%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    padding: 30px 20px;
    margin-bottom: 60px;
}
.post-header{
    display: flex;
    margin-bottom: 20px;
}
.post-header h5 {
    margin-top: 20px;
    margin-left: 20px;
}
.profile-pic{
    width: 66px;
    height: 60px;
    border-radius: 50%;
}
.name{
    color: #F55A5A;
    font-weight: 600;
}
.date{
    color: dimgrey;
}
.title{
    margin-bottom: 10px;
}
/* .tag{
    margin: 20px;
    margin-bottom: 0;
    background-color: aquamarine;
    width: 15%;
    border-radius: 3px;
    padding: 4px 5px;
} */