
{% extends 'nav.html' %}

{% block content %} 

<form id="login">
    <h1 id="label_1">New post </h1>
    <hr>
    <div id="main">
        <label class="label_2"><b>Title</b></label>
        <br>
        <input class="input_2" type="Password" name="Pass" id="Pass" placeholder="Password">
        <br>
        <label class="label_2">content</label>
        <textarea name="" class="post" cols="30" rows="10"></textarea> 
        <br><br>
        <button id="post_but">Post</button> 
        <br><br>     
    </div>  
</form> 

{% endblock %}