
{% extends 'nav.html' %}
<link rel="stylesheet" href="{{ url_for('static', filename='static/createPost.css') }}"/>

{% block content %} 

<form>
    <h1 id="label_1">New post </h1>
    <hr>
    <div id="main">
        <label >Title</label>
        <br>
        <input class="input_2" type="text" name="Pass" id="Pass" >
        <br>
        <label>Content</label>
        <textarea name="" class="post" cols="30" rows="10"></textarea> 
        <br><br>
        <button id="post_but">Post</button> 
        <br><br>     
    </div>  
</form> 

{% endblock %}