<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Alx - Zone Blog post</title>
    <link rel="stylesheet" href="../static/index.css" />
  </head>
  <div>
    <body>
      <header class="main-header">
        <h2>ALX - ZONE</h2>
        <nav>
          <a href="Home">Home</a>
          <a href="Sign In">Sign In</a>
          <a class="btn btn-dark" href="{{}}">Get Started</a>
        </nav>
      </header>
      <article>
        <header>
          <div class="row container">
            <div class="col-sm-6">
              <h3>Having trouble?</h3>
              <p>
                <em>
                  You are not alone!<br />
                  We are here to support you Browse your issue and resolve them
                </em>
                <br />
              </p>
              <div class="link-div">
                <a class="btn btn-dark" href="register">Register Here!</a>
              </div>
            </div>
            <div class="col-sm-6">Animation</div>
          </div>
        </header>
      </article>
      <footer>
        <a class="btn btn-dark about" href="about">About</a>
      </footer>
    </body>
  </div>
</html>