{% extends 'nav.html' %}

{% block content %}
    <body>
      <header class="main-header">
      </header>
      <article>
        <header>
          <div class="row container">
            <div class="col-sm-6">
              <h3>Having trouble?</h3>
              <p>
                <em>
                  You are not alone!<br />
                  We are here to support you Browse your issue and resolve them
                </em>
                <br />
              </p>
              <div class="link-div">
                <a class="btn btn-dark" href="register">Register Here!</a>
              </div>
            </div>
            <div class="col-sm-6">Animation</div>
          </div>
        </header>
      </article>
      <footer>
        <a class="btn btn-dark about" href="about">About</a>
      </footer>
    </body>
  </div>
</html>

{% endblock %}