
{% extends 'nav.html' %}

{% block style %}

<link rel="stylesheet" href="{{ url_for('static', filename='static/login.css') }}"/>

{% endblock %}

{% block content %}

<form id="login">
    <h1 id="label_1">ALX Zone </h1>
    <div id="main">
        <label class="label_2"><b>Email</b></label>
        <br>
        <input class="input_2" type="email" name="email" id="Uname" placeholder="Email">    
        <br>
        <label class="label_2"><b>Password</b></label>
        <br>
        <input class="input_2" type="Password" name="Pass" id="Pass" placeholder="Password">    
        <br><br>
        <div class="label_2">
            <input type="checkbox" id="check">    
            <label >Remember me </label>
        </div>
        <br><br>
        <button id="log">Log in</button>      
        <br><br>    
        <a id="link_1" href="#">ForgotPassword?</a>   
    </div>  
</form>

{% endblock %}