<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="posts.css">
    <title>Posts</title>
</head>
<body>
    <nav class="naviagation">
        <ul>
            <li>Home</li>
            <li>About</li>
            <li>New Post</li>
            <li>Setting</li>
        </ul>
    </nav>
</body>
</html>