{% extends 'nav.html' %}

{% block content %} 

<form method="post">
    <h1 id="label_1">Register </h1>
    <div id="main">
        <label >User name</label>
        <br>
        <input class="input_2" type="name" name="name" id="Uname" >    
        <br>
        <label >Email</label>
        <br>
        <input class="input_2" type="email" name="email" id="Uname" >    
        <br>
        <label>Password</label>
        <br>
        <input class="input_2 heyy" type="Password" name="Pass" id="Pass" >    
        <br>
        <label>Confirmation Password</label>
        <br>
        <input class="input_2" type="Password" name="Pass" id="Pass" >    
        <br>
        <button id="log">Register</button>       
    </div>  
</form>

{% endblock %}