{% extends 'nav.html' %}

{% block content %}

<form  id="mainSection" method="post">
    <div>
        <h1>New Post</h1>
        <hr>
        <br><br>
        <label class="lables" for="">Title</label>
        <br>
        <input type="text" class="section1" name="title" id="Pass" value="{{ request.form['title'] }}" >
        <br><br>
        <label class="lables" for="">Content</label>
        <br>
        <textarea name="content" class="section2" cols="30" rows="10">{{ request.form['content'] }}</textarea>
        <br><br>
        <button id="section3" type="submit">Post</button> 
    </div>
</form>

{% endblock %}