<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/update_post.css">
</head>
<body>
    <form action="" id="mainSection">
       
        <div>
            <h1>New Post</h1>
            <hr>
            <br><br>
            <label class="lables" for="">Title</label>
            <br>
            <input class="section1" type=""text name="title">
            <br><br>
            <label class="lables" for="">Content</label>
            <br>
            <textarea class="section2" name="" id="" cols="30" rows="10"></textarea>
            <br><br>
            <button id="section3" type="submit">Post</button> 
        </div>
    </form>
</body>
</html>